<form class="row g-3" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <app-input-field class="col-sm-12" formControlName="nome"
    [classeCss]="aplicaCssErro('nome')"
    id="nome" label="Nome"
    [control]="$any(formulario.get('nome'))"></app-input-field>
    
<!--     <div class="col-sm-12">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" [ngClass]="aplicaCssErro('nome')">
        <app-error-msg [control]="$any(formulario.get('nome'))" label="Nome">
        </app-error-msg>

    </div> -->

    <div class="col-sm-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="nome@email.com" formControlName="email" [ngClass]="aplicaCssErro('email')">

        <app-campo-control-erro [mostrarErro]="verificaInvalidTouched('email')" msgErro="Email é obrigatório.">
        </app-campo-control-erro>
        <app-campo-control-erro [mostrarErro]="verificaEmailInvalido()" msgErro="Email inválido.">
        </app-campo-control-erro>
        <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'PENDING'" msgErro="Validando email...">
        </app-campo-control-erro>
        <app-campo-control-erro [mostrarErro]="formulario.get('email').status === 'VALID'" msgErro="Email válido!">
        </app-campo-control-erro>
        <app-campo-control-erro [mostrarErro]="formulario.get('email').hasError('emailInvalido')" msgErro="Email já cadastrado!">
        </app-campo-control-erro>
    </div>

    <div class="col-sm-12">
        <label for="email" class="form-label">Confirmar Email</label>
        <input type="email" class="form-control" id="confirmarEmail" placeholder="nome@email.com" formControlName="confirmarEmail" [ngClass]="aplicaCssErro('confirmarEmail')">

        <app-campo-control-erro [mostrarErro]="formulario.get('confirmarEmail').hasError('equalsTo')" msgErro="Emails não são iguais.">
        </app-campo-control-erro>
    </div>

    <div class="row" formGroupName="endereco">
        <div class="col-md-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')" formControlName="cep"> <!-- (blur)="consultaCEP()" -->

            <app-error-msg [control]="$any(formulario.get('endereco.cep'))" label="CEP">
            </app-error-msg>
        </div>

        <div class="col-md-3">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" [ngClass]="aplicaCssErro('endereco.numero')" formControlName="numero">

            
            <app-error-msg [control]="$any(formulario.get('endereco.numero'))" label="Número">
            </app-error-msg>
        </div>

        <div class="col-md-6">
            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="complemento" formControlName="complemento">
        </div>

        <div class="col-sm-12">
            <label for="rua" class="form-label">Rua</label>
            <input type="text" [ngClass]="aplicaCssErro('endereco.rua')"
            class="form-control" id="rua" placeholder="Rua" formControlName="rua">

            <app-error-msg [control]="$any(formulario.get('endereco.rua'))" label="Rua">
            </app-error-msg>
        </div>

        <div class="col-md-5">
            <label for="bairo" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" [ngClass]="aplicaCssErro('endereco.bairro')" formControlName="bairro">

            <app-error-msg [control]="$any(formulario.get('endereco.bairro'))" label="Bairro">
            </app-error-msg>
        </div>

        <div class="col-md-3">
            <label for="cidade" class="form-label">Cidade</label>
            <select class="form-select" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" formControlName="cidade">
                <option *ngFor="let cidade of cidades" [value]="cidade.nome">{{ cidade.nome }}</option>
            </select>

            <app-error-msg [control]="$any(formulario.get('endereco.cidade'))" label="Cidade">
            </app-error-msg>
        </div>

        <!-- <div class="col-md-4">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" formControlName="cidade">

            <app-error-msg [control]="$any(formulario.get('endereco.cidade'))" label="Cidade">
            </app-error-msg>
        </div> -->

        <div class="col-md-3">
            <label for="estado" class="form-label">Estado</label>
            <select class="form-select" id="estado" [ngClass]="aplicaCssErro('endereco.estado')" formControlName="estado">
                <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.nome }}</option>
            </select>

            <app-error-msg [control]="$any(formulario.get('endereco.estado'))" label="Estado">
            </app-error-msg>
        </div>
    </div>

    <div class="col-md-3">
        <label for="cargo" class="form-label">Cargo</label>
        <select class="form-select" id="cargo" [ngClass]="aplicaCssErro('cargo')" formControlName="cargo" [compareWith]="compararCargos">
            <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
        </select>
    </div>

    <div class="col-md-3">
        <label for="tecnologias" class="form-label">Tecnologias</label>
        <select multiple class="form-select" id="tecnologias" [ngClass]="aplicaCssErro('tecnologias')" formControlName="tecnologias">
            <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
        </select>
    </div>

    <div class="col-md-3" [ngClass]="aplicaCssErro('newsletter')">
        <label for="newsletter" class="form-label">Newsletter</label>
        <div id="newsletter">
            <div class="form-check form-check-inline" *ngFor="let item of newsletterOp" >
                <input class="form-check-input" [value]="item.valor" type="radio" id="inlineRadio1" formControlName="newsletter">
                <label class="form-check-label" for="inlineRadio1">{{ item.desc }}</label>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-check form-check-inline">
            <input class="form-check-input" formControlName="termos" type="checkbox" id="inlineCheckbox1" [ngClass]="aplicaCssErro('termos')">
            <label class="form-check-label" for="inlineCheckbox1">Aceito os termos.</label>
        </div>
        <app-error-msg [control]="$any(formulario.get('termos'))" label="Termos">
        </app-error-msg>
    </div>

    <div class="col-md-4">
        <p>Frameworks</p>
        <div class="form-check form-check-inline" formArrayName="frameworks" *ngFor="let item of formulario.get('frameworks')['controls']; let i = index">
            <input class="form-check-input"  type="checkbox" id="inlineCheckbox1" [ngClass]="aplicaCssErro('frameworks')" [formControlName]="i">
            <label class="form-check-label" for="inlineCheckbox1">{{ frameworks[i] }}</label>
        </div>
        <app-error-msg [control]="$any(formulario.get('frameworks'))" label="Frameworks">
        </app-error-msg>

    </div>




    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-default" (click)="resetar()" >Cancelar</button>
    <button type="button" class="btn btn-info" (click)="setarCargo()" >Cargo</button>
    <button type="button" class="btn btn-info" (click)="setarTecnologias()">Tecnologias</button>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>

